<div id="global-bar-wrapper ">

<%= render 'layouts/globalbarwrapper' %>

</div>


<div id="custom-doc" class="yui-t7">
	<div id="bd" role="main">
		<div class="yui-g">
			<div id="floating-box-wrapper" class="mg-box clearfix">
				<div class="landing_background">
					<div id="landing-ads" class="clearfix">
						<a target="_blank" href="http://moe.jlist.com/click/4607/88">
							<img src="http://www.subdesu-h.net/wp-content/themes/CustomWPTheme/farm8.static.flickr.com/7209/88.jpg">
						</a>
						<a id="landing-ad-right" target="_blank" href="http://moe.jlist.com/click/4607/88">
							<img src="http://www.subdesu-h.net/wp-content/themes/CustomWPTheme/farm8.static.flickr.com/7209/89.jpg">
						</a>
					</div>
					<div class="caption-image">
						<a href="#choose"> </a>
						<center>
                            
							<a href="#choose"></a>
							<div class="slideshow_container slideshow_container_style-light" data-session-id="0" style="height: 462px; max-width: 938px; width: 938px;">
								<a href="#choose">
									<div class="slideshow_controlPanel slideshow_transparent">
										<ul>
											<li class="slideshow_togglePlay"></li>
										</ul>
									</div>
									<div class="slideshow_button slideshow_previous slideshow_transparent" style="display: block;"></div>
									<div class="slideshow_button slideshow_next slideshow_transparent" style="display: block;"></div>
									<div class="slideshow_pagination">
										<div class="slideshow_pagination_center"></div>
									</div>
								</a>
								<div class="slideshow_content" style="width: 938px; height: 462px;">
							    	<a href="#choose"> </a>


									
									    <ul class="galleria">

									      <li><%= image_tag("1333912156335.jpg") %></li>
									      <li><%= image_tag("1336868778080.jpg") %></li>
									      <li><%= image_tag("1336969399145.jpg") %></li>
									      <li><%= image_tag("kHChV.jpg") %></li>
									      <li><%= image_tag("Mix-shows.jpg") %></li>
									    </ul> 
								    

							        <div class="slideshow_view" style="top: 462px; width: 938px; height: 462px; left: 0px; z-index: 0; display: block;">
										<a href="#choose"> </a>
										<div class="slideshow_slide slideshow_slide_image" style="margin-left: 0px; margin-right: 0px; width: 938px; height: 462px;">
											<a href="#choose"> </a>
											<a target="_self">
												<img width="938" height="462" alt="SubDESU-H" src="http://www.subdesu-h.net/wp-content/uploads/2013/03/Summer.jpg" style="width: 938px; height: 462px;">
											</a>
											<div class="slideshow_description slideshow_transparent" style="display: block; position: absolute; top: 462px;">
												<h2>
													<a target="_self">SubDESU-H</a>
												</h2>
											</div>
										</div>
										<div style="clear: both;"></div>
									</div>

									<div class="slideshow_view" style="top: 462px; width: 938px; height: 462px; left: 0px; z-index: 0; display: block;">
										<div class="slideshow_slide slideshow_slide_image" style="margin-left: 0px; margin-right: 0px; width: 938px; height: 462px;">
											<a target="_self">
												<img width="938" height="462" alt="SubDESU-H" src="http://www.subdesu-h.net/wp-content/uploads/2013/03/1333912156335.jpg" style="width: 938px; height: 462px;">
											</a>
											<div class="slideshow_description slideshow_transparent" style="display: block; position: absolute; top: 462px;">
												<h2>
													<a target="_self">SubDESU-H</a>
												</h2>
											</div>
										</div>
										<div style="clear: both;"></div>
									</div>


							<div class="slideshow_view" style="width: 938px; height: 462px; z-index: 0; display: block; top: 462px; left: 0px;">
								<div class="slideshow_slide slideshow_slide_image" style="margin-left: 0px; margin-right: 0px; width: 938px; height: 462px;">
									<a target="_self">
										<img width="938" height="462" alt="SubDESU-H" src="http://www.subdesu-h.net/wp-content/uploads/2013/03/1333912156335.jpg" style="width: 938px; height: 462px;">
									</a>
									<div class="slideshow_description slideshow_transparent" style="display: block; position: absolute; top: 462px;">
										<h2>
											<a target="_self">SubDESU-H</a>
										</h2>
									</div>
								</div>
								<div style="clear: both;"></div>
							</div>
							<div class="slideshow_view" style="top: 462px; width: 938px; height: 462px; left: 0px; z-index: 0; display: block;">
								<div class="slideshow_slide slideshow_slide_image" style="margin-left: 0px; margin-right: 0px; width: 938px; height: 462px;">
									<a target="_self">
										<img width="938" height="462" alt="SubDESU-H" src="http://www.subdesu-h.net/wp-content/uploads/2013/03/1336868778080.jpg" style="width: 938px; height: 462px;">
									</a>
									<div class="slideshow_description slideshow_transparent" style="display: block; position: absolute; top: 462px;">
										<h2>
											<a target="_self">SubDESU-H</a>
										</h2>
									</div>
								</div>
								<div style="clear: both;"></div>
							</div>
							<div class="slideshow_view" style="top: 462px; width: 938px; height: 462px; left: 0px; z-index: 0; display: block;">
							<div class="slideshow_slide slideshow_slide_image" style="margin-left: 0px; margin-right: 0px; width: 938px; height: 462px;">
							<div style="clear: both;"></div>
							</div>
							<div class="slideshow_view" style="top: 462px; width: 938px; height: 462px; left: 0px; z-index: 0; display: block;">
							<div class="slideshow_view" style="top: 0px; width: 938px; height: 462px; left: 0px; z-index: 0; display: block; opacity: 0;">
							<div class="slideshow_view" style="top: 462px; width: 938px; height: 462px; left: 0px; z-index: 0; display: block;">
							<div class="slideshow_view" style="top: 462px; width: 938px; height: 462px; left: 0px; z-index: 0; display: block;">
							<div class="slideshow_view" style="top: 462px; width: 938px; height: 462px; left: 0px; z-index: 0; display: block;">
							<div class="slideshow_view" style="top: 462px; width: 938px; height: 462px; left: 0px; z-index: 0; display: block;">
							<div class="slideshow_view" style="top: 462px; width: 938px; height: 462px; left: 0px; z-index: 0; display: block;">
							<div class="slideshow_view" style="top: 0px; width: 938px; height: 462px; left: 0px; z-index: 1; display: block; opacity: 1;">
							<div class="slideshow_view" style="top: 462px; width: 938px; height: 462px; left: 0px; z-index: 0; display: block;">
							<div class="slideshow_view" style="top: 462px; width: 938px; height: 462px; left: 0px; z-index: 0; display: block;">
							<div class="slideshow_view" style="top: 462px; width: 938px; height: 462px; left: 0px; z-index: 0; display: block;">
							<div class="slideshow_view" style="top: 462px; width: 938px; height: 462px; left: 0px; z-index: 0; display: block;">
							<div class="slideshow_view" style="top: 462px; width: 938px; height: 462px; left: 0px; z-index: 0; display: block;">
							<div class="slideshow_view" style="top: 462px; width: 938px; height: 462px; left: 0px; z-index: 0; display: block;">
								<div class="slideshow_slide slideshow_slide_image" style="margin-left: 0px; margin-right: 0px; width: 938px; height: 462px;">
									<div style="clear: both;"></div>
								</div>
								<div class="slideshow_view" style="top: 462px; width: 938px; height: 462px; left: 0px; z-index: 0; display: block;">
									<div class="slideshow_slide slideshow_slide_image" style="margin-left: 0px; margin-right: 0px; width: 938px; height: 462px;">
										<div style="clear: both;"></div>
									</div>
								</div>
							</div>
						</center>
					</div>
					<div id="options" class="clearfix">
					<a name="choose"></a>
					<a class="btn sqr lrg panel_welcome" href="">First Time Here?</a>
					     or     
					<a class="btn sqr lrg act panel_regular set_landing_regular" href="http://www.subdesu-h.net/category/releases/">Latest H-Releases</a>
					<br>
					</div>
				</div>
				<script type="text/rocketscript" data-rocketoptimized="true">
				$(document).ready(function() {
				$(".panel_welcome").click(function(event) {
				event.preventDefault();
				$("#panel_welcome").slideToggle("normal");
				$("#panel_regular").hide("normal");
				});
				//$(".panel_regular").click(function() {
				// $("#panel_regular").slideToggle("normal");
				// $("#panel_welcome").hide("normal");
				//});
				});
				</script>
				<div id="panel_welcome" style="display:none;text-align:left;width:930px;margin: 0 auto 0 auto;">
				<div class="h3">Youkoso!</div>
				<p>Welcome to the 7th circle of Perversion.</p>
				<p>SubDESU is a dedicated fansub community that strives to bring you up close and personal with the sexily erotic side of Japan. How do we do that? We do so by translating mostly anything Japan throws at us that has "ecchi" in it. Our strike zone spans from soft-core to hardcore and we draw no lines against any kind of genre(though we try to hold on to our sanity and the ever eroding humanity). As long as it's animated and "fappable", we go after it. Our ultimate goal: To learn, improve and ultimately become skilled enough to balance our virtual and personal lives, so that we are able to continuously bring you this erogenous pleasure for as long as we draw breath.</p>
			</div>
			<div id="panel_regular" style="display:none;text-align:left;width:930px;margin: 0 auto 0 auto;">
			<div class="h3">Welcome back comrades!</div>
			<p>
			<a class="set_landing_regular" href="#">Click here</a>
			to set the Top page back to what it usually looks like which is still probably overwhelming for new visitors due to the amount of content.
			<br>
			</p>
			</div>
			<div id="landing-left" class="yui-u first">
				<div class="h2 spotlight-title">Featured H-Anime Releases</div>
				<div id="landingleft-list" class="spotlight-item-list clearfix">
					<div id="landingleft" class="item-list large-layout">
						<div id="item-25877" class="item-box item-box-1 clearfix">
							<div class="featured-article-wrapper">
								<a class="featured-article" href="http://www.subdesu-h.net/fault-service-aratanaru-rival-01/">
									<div class="featured-article-image" >
										<div class="featured-article-gradient">
											<div class="featured-article-title">
												<div class="h2">Fault!! Service Aratanaru Rival 01</div>
												<div class="featured-article-date">Fri 03/08</div>
											</div>
											<div class="featured-article-details">
											<br>
											</div>
											<div class="featured-article-description"></div>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div id="item-26094" class="item-box item-box-2 clearfix">
							<div class="featured-article-wrapper">
								<a class="featured-article" href="http://www.subdesu-h.net/kindan-no-byoutou-02/">
									<div class="featured-article-image" >
										<div class="featured-article-gradient">
											<div class="featured-article-title">
												<div class="h2">Kindan No Byoutou 02</div>
												<div class="featured-article-date">Mon 01/07</div>
											</div>
											<div class="featured-article-details">
											<br>
											</div>
											<div class="featured-article-description"></div>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div id="item-26413" class="item-box item-box-3 clearfix">
							<div class="featured-article-wrapper">
								<a class="featured-article" href="http://www.subdesu-h.net/pisu-hame-05/">
									<div class="featured-article-image">
										<div class="featured-article-gradient">
											<div class="featured-article-title">
												<div class="h2">Pisu Hame! 05</div>
												<div class="featured-article-date">Wed 12/26</div>
											</div>
											<div class="featured-article-details">
											<br>
											</div>
											<div class="featured-article-description"></div>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div id="item-1579" class="item-box item-box-4 clearfix">
							<div class="featured-article-wrapper">
								<a class="featured-article" href="http://www.subdesu-h.net/tsugou-no-yoi-sexfriend-02/">
									<div class="featured-article-image">
										<div class="featured-article-gradient">
											<div class="featured-article-title">
												<div class="h2">Tsugou no Yoi Sexfriend 02</div>
												<div class="featured-article-date">Mon 02/04</div>
											</div>
											<div class="featured-article-details">
											<br>
											</div>
											<div class="featured-article-description"></div>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div id="item-26104" class="item-box item-box-5 clearfix">
							<div class="featured-article-wrapper">
								<a class="featured-article" href="http://www.subdesu-h.net/zettai-junshu-kyousei-kozukuri-kyokashou-01/">
									<div class="featured-article-image">
										<div class="featured-article-gradient">
											<div class="featured-article-title">
												<div class="h2">Zettai Junshu Kyousei Kozukuri Kyokashou!! 01</div>
												<div class="featured-article-date">Thu 12/27</div>
											</div>
											<div class="featured-article-details">
											<br>
											</div>
											<div class="featured-article-description"></div>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div id="item-26061" class="item-box item-box-6 clearfix last">
							<div class="featured-article-wrapper">
								<a class="featured-article" href="http://www.subdesu-h.net/tentacle-and-witches-04-end/">
									<div class="featured-article-image">
										<div class="featured-article-gradient">
											<div class="featured-article-title">
												<div class="h2">Tentacle and Witches 04 END</div>
												<div class="featured-article-date">Mon 12/17</div>
											</div>
											<div class="featured-article-details">
											<br>
											</div>
											<div class="featured-article-description"></div>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div id="landingleft-more" class="more clearfix">
						<a class="btn sqr med" href="http://www.subdesu-h.net/category/releases/">View more</a>
					</div>
				</div>
			</div>
			<div id="landing-right" class="yui-u">
				<div class="h2 spotlight-title">Featured Anime Releases</div>
				<div id="landingright-list" class="spotlight-item-list clearfix">
					<div id="landingright" class="item-list large-layout">
						<div id="item-25834" class="item-box item-box-1 clearfix">
							<div class="featured-article-wrapper">
								<a class="featured-article" href="http://www.subdesu.org/high-school-dxd-new-01/">
									<div class="featured-article-image">
										<div class="featured-article-gradient">
											<div class="featured-article-title">
												<div class="h2">High School DxD NEW 01</div>
												<div class="featured-article-date">Sun 07/07</div>
											</div>
											<div class="featured-article-details">
											<br>
											</div>
											<div class="featured-article-description"></div>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div id="item-25643" class="item-box item-box-2 clearfix">
							<div class="featured-article-wrapper">
								<a class="featured-article" href="http://www.subdesu.org/kagaku-na-yatsura-oad-01/">
									<div class="featured-article-image">
										<div class="featured-article-gradient">
											<div class="featured-article-title">
												<div class="h2">Kagaku na Yatsura OAD 01</div>
												<div class="featured-article-date">Wed 03/06</div>
											</div>
											<div class="featured-article-details">
											<br>
											</div>
											<div class="featured-article-description"></div>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div id="item-25633" class="item-box item-box-3 clearfix">
							<div class="featured-article-wrapper">
								<a class="featured-article" href="http://www.subdesu.org/senran-kagura-08-09/">
									<div class="featured-article-image">
										<div class="featured-article-gradient">
											<div class="featured-article-title">
												<div class="h2">Senran Kagura 08 – 09</div>
												<div class="featured-article-date">Thu 03/07</div>
											</div>
											<div class="featured-article-details">
											<br>
											</div>
											<div class="featured-article-description"></div>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div id="item-26119" class="item-box item-box-4 clearfix">
							<div class="featured-article-wrapper">
								<a class="featured-article" href="http://www.subdesu.org/kissxsis-ova-08/">
									<div class="featured-article-image">
										<div class="featured-article-gradient">
											<div class="featured-article-title">
												<div class="h2">KissxSis OVA 08</div>
												<div class="featured-article-date">Sun 02/10</div>
											</div>
											<div class="featured-article-details">
											<br>
											</div>
											<div class="featured-article-description"></div>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div id="item-25927" class="item-box item-box-5 clearfix">
							<div class="featured-article-wrapper">
								<a class="featured-article" href="http://www.subdesu.org/nana-to-kaoru-ova-01/">
									<div class="featured-article-image">
										<div class="featured-article-gradient">
											<div class="featured-article-title">
												<div class="h2">Nana to Kaoru OVA 01</div>
												<div class="featured-article-date">Mon 04/02</div>
											</div>
											<div class="featured-article-details">
											<br>
											</div>
											<div class="featured-article-description"></div>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div id="item-25847" class="item-box item-box-6 clearfix last">
							<div class="featured-article-wrapper">
								<a class="featured-article" href="http://www.subdesu.org/shijou-saikyou-no-deshi-kenichi-ova-03/">
									<div class="featured-article-image">
										<div class="featured-article-gradient">
											<div class="featured-article-title">
												<div class="h2">Shijou Saikyou no Deshi Kenichi OVA 03</div>
												<div class="featured-article-date">Thu 12/20</div>
											</div>
											<div class="featured-article-details">
											<br>
											</div>
											<div class="featured-article-description"></div>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div id="landingright-more" class="more clearfix">
						<a class="btn sqr med" href="http://www.subdesu.org/project-list/">View more</a>
					</div>
				</div>
			</div>
			<div id="floating-box-container">
				<div id="floating-box" class="clearfix">
					<div id="mg-facebook-like-new">
						<fb:like class="fb_edge_widget_with_comment fb_iframe_widget" font="lucida grande" action="like" send="false" layout="box_count" show_faces="false" width="55" fb-xfbml-state="rendered">
							<span style="height: 61px; width: 49px;">
								<iframe id="f6c257ead42e2" class="fb_ltr" scrolling="no" name="f2df928b8720d88" style="border: medium none; overflow: hidden; height: 61px; width: 49px;" title="Like this content on Facebook." src="http://www.facebook.com/plugins/like.php?api_key=143869572307827&locale=en_US&sdk=joey&channel_url=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D25%23cb%3Df37f3e51bd4afa6%26origin%3Dhttp%253A%252F%252Fwww.subdesu-h.net%252Ff162265516fa7c6%26domain%3Dwww.subdesu-h.net%26relation%3Dparent.parent&href=http%3A%2F%2Fwww.subdesu-h.net%2F&node_type=link&width=55&font=lucida%20grande&layout=box_count&colorscheme=light&action=like&show_faces=false&send=false&extended_social_context=false">


								<%= render 'layouts/like' %>


								</iframe>
							</span>
						</fb:like>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>