<div id="hd" class="mg-hd clearfix" style="height: 250px;" role="banner">
<a id="hd-mascot-link" href=""></a>
<div id="hd-content" class="clearfix">
<div id="globalbar-search-window" style="display:none;">
<a id="globalbar-search-close" title="Minimize" href="#">
<img alt="Minimize" src="http://www.subdesu-h.net/wp-content/themes/CustomWPTheme/www.subdesu-h.net/public/img/subdesu/close-chat.png?1332902159">
</a>
<div class="h2">Search</div>
<form id="globalbar-search-form" class="clearfix" action="http://www.subdesu-h.net/" method="get">
<input id="globalbar-search-form-value" class="field" type="text" value="Search" name="s">
<input id="globalbar-search-form-button" class="go" width="14" type="image" height="21" title="Search" alt="Search" src="http://www.subdesu-h.net/wp-content/themes/CustomWPTheme/www.subdesu-h.net/public/img/subdesu/icons/search-button.png?1332902159">
<input type="hidden" value="en" name="language">
</form>
</div>
<div id="mg-logo" class="main-logo">
<a href="">
<img src="http://www.subdesu-h.net/wp-content/themes/CustomWPTheme/www.subdesu-h.net/public/img/subdesu/logo2.png?1332902159">
</a>
<div id="mg-logo-menu" class="logo-menu" style="display: none; bottom: -44px;">
<div class="logo-menu-content">
<p></p>
<ul>
<li>
<a href="http://www.subdesu.org">SubDESU Home Page</a>
</li>
</ul>
<p></p>
</div>
</div>
</div>
<div id="mg-navigation-wrapper">
<div id="mg-navigation" class="mega-menu" role="navigation">
<ul>
<li class="first">
<a href="http://www.subdesu-h.net">h-desu</a>
<div class="mega-menu-dropdown" style="margin-top: -6px; z-index: 9997; display: none;">
<div class="mega-menu-dropdown-content">
<p>
<a href="http://www.subdesu.org">SubDESU</a>
<a href="http://www.darlinganime.com">DarlingAnime</a>
</p>
</div>
</div>
</li>
<li class="">
<a href="http://www.subdesu-h.net/events/">upcoming-h</a>
<div class="mega-menu-dropdown" style="margin-top: -6px; z-index: 9997; display: none;">
<div class="mega-menu-dropdown-content">
<a href="http://www.subdesu-h.net/projectlist/">Projects-List</a>
</div>
</div>
</li>
<li class="">
<a href="http://www.subdesu-h.net/faq/">faq</a>
</li>
<li class="widedropdown">
<a href="http://www.subdesu-h.net/category/releases/">releases</a>
<div class="mega-menu-dropdown">
<table class="table-display">
<tbody>
<tr>
<td>
<div class="h3"> A </div>
</td>
<td>
<div class="h3"> B </div>
</td>
<td>
<div class="h3"> C </div>
</td>
<td>
<div class="h3"> D </div>
</td>
</tr>
<tr>
<td>
<br>
<a href="http://www.subdesu-h.net/category/manga/antique-romantic/"> Antique Romantic</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/aisai-nikki/"> Aisai Nikki</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/akebi-no-hana-maho/"> Akebi no Hana: Maho</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/akina-to-onsen/"> Akina to Onsen</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/aku-no-onna-kanbu/"> Aku no Onna Kanbu</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/anata-dake-konbanwa/"> Anata Dake Konbanwa</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/anata-no-shiranai-kangofu-seiteki-byoutou-24-ji/"> Anata no Shiranai Kangofu: Seiteki Byoutou 24 Ji</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/ane-koi/"> Ane Koi</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/ane-summer/"> Ane Summer!</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/anejiru2/"> Anejiru2</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/aneki-no-kounai-kaikinbi/"> Aneki no Kounai Kaikinbi</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/aneki/"> Aneki…</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/arubaito-shiyo-oneesan-tsumeawase/"> Arubaito Shiyo!! ~Oneesan Tsumeawase~</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/asa-kara-zusshiri-milk-pot/"> Asa kara Zusshiri Milk Pot</a>
<br>
</td>
<td>
<br>
<a href="http://www.subdesu-h.net/category/releases/babuka-gokudou-no-tsuma/"> Babuka Gokudou no Tsuma</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/bakunyuu-bomb/"> Bakunyuu BOMB</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/bathtime/"> Bathtime</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/betsuni-anta-no-tame/"> Betsuni Anta no Tame</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/bi-chiku-beach-nangoku-nyuujoku-satsueikai/"> Bi-chiku Beach: Nangoku Nyuujoku Satsueikai</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/bijukubo/"> Bijukubo</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/binkan-athlete/"> Binkan Athlete</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/birei-okami-mie/"> Birei Okami Mie</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/blind-night/"> Blind Night</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/bloods-inraku-no-ketsuzoku-2/"> Bloods Inraku no Ketsuzoku 2</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/brain-jacker/"> Brain Jacker</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/brandish/"> Brandish</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/bust-to-bust/"> Bust to Bust</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/buta-hime-sama/"> Buta Hime-sama</a>
<br>
</td>
<td>
<br>
<a href="http://www.subdesu-h.net/category/releases/castle-fantasia-seima-taisen/"> Castle Fantasia: Seima Taisen</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/catue/"> Catue</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/cele-kano/"> Cele Kano</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/chibaku-yuugi/"> Chibaku Yuugi</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/chikan-juunintai/"> Chikan Juunintai</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/chikan-no-licence/"> Chikan no Licence</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/choisuji/"> Choisuji</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/chu-shite-agechau-oshikake-onee-san-no-seikou-chiryou/"> Chu Shite Agechau Oshikake Onee-san no Seikou Chiryou</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/cosplay-roshutsu-kenkyuukai/"> Cosplay Roshutsu Kenkyuukai</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/crimson-girls-chikan-shihai/"> Crimson Girls: Chikan Shihai</a>
<br>
</td>
<td>
<br>
<a href="http://www.subdesu-h.net/category/releases/d-spray/"> D-spray</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/daibolus-kikoku/"> Daibolus Kikoku</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/darcrows/"> Darcrows</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/dark-blue/"> Dark Blue</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/deep-voice/"> Deep Voice</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/discipline-zero/"> Discipline Zero</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/dream-note/"> Dream Note</a>
<br>
</td>
</tr>
<tr>
<td>
<div class="h3"> E </div>
</td>
<td>
<div class="h3"> F </div>
</td>
<td>
<div class="h3"> G </div>
</td>
<td>
<div class="h3"> H </div>
</td>
</tr>
<tr>
<td>
<br>
<a href="http://www.subdesu-h.net/category/releases/elf-no-futago-hime-releases/"> Elf no Futago Hime</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/eroge-h-mo-game-mo-kaihatsu-zanmai/"> Eroge! H mo Game mo Kaihatsu Zanmai</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/euphoria/"> Euphoria</a>
<br>
</td>
<td>
<br>
<a href="http://www.subdesu-h.net/category/releases/fault-service-aratanaru-rival/"> Fault!! Service Aratanaru Rival</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/fault/"> Fault!!!</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/fighting-of-ecstasy/"> Fighting of Ecstasy</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/first-love/"> First Love</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/floating-material/"> Floating Material</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/fukubiki-triangle/"> Fukubiki! Triangle</a>
<br>
</td>
<td>
<br>
<a href="http://www.subdesu-h.net/category/releases/g-taste/"> G-Taste</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/gakuen-3-karei-naru-etsujoku/"> Gakuen 3 Karei Naru Etsujoku</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/gakuen-maria-bakunyuu-teachers/"> Gakuen Maria: Bakunyuu Teachers</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/gakuen-saimin-reido/"> Gakuen Saimin Reido</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/garden-the-animation/"> Garden The Animation</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/gitai-saimin/"> Gitai Saimin</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/gogo-no-kouchou/"> Gogo no Kouchou</a>
<br>
</td>
<td>
<br>
<a href="http://www.subdesu-h.net/category/releases/haha-musume-donburi-oppai-tokumori-bonyuu-shiru-dakude/"> Haha Musume Donburi Oppai Tokumori Bonyuu Shiru Dakude</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/haha-sange/"> Haha Sange</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/hakoiri-shoujo-virgin-territory/"> Hakoiri Shoujo Virgin Territory</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/harem-time-the-animation/"> Harem Time The Animation</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/hhh-triple-ecchi/"> HHH Triple Ecchi</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/hime-sama-gentei/"> Hime-sama Gentei!</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/hishoka-drop/"> Hishoka Drop</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/hitou-meguri/"> Hitou Meguri</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/hitou-meguri-kakure-yu-mao-hen/"> Hitou Meguri Kakure Yu ~ Mao Hen</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/houkago-mania-club/"> Houkago Mania Club</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/houkago-nyan-nyan/"> Houkago Nyan Nyan</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/hump-bang/"> Hump Bang</a>
<br>
</td>
</tr>
<tr>
<td>
<div class="h3"> I </div>
</td>
<td>
<div class="h3"> J </div>
</td>
<td>
<div class="h3"> K </div>
</td>
<td>
<div class="h3"> L </div>
</td>
</tr>
<tr>
<td>
<br>
<a href="http://www.subdesu-h.net/category/releases/idol-kouhousei/"> Idol Kouhousei</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/ijou-chitai-jikken-dorei/"> Ijou Chitai: Jikken Dorei</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/ikusa-otome-valkyrie-2/"> Ikusa Otome Valkyrie 2</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/ikusa-otome-valkyrie-g/"> Ikusa Otome Valkyrie G</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/ikusa-otome-valkyrie-shinshou-anata-ni-subete-wo-sasagemasu/"> Ikusa Otome Valkyrie Shinshou: Anata ni Subete wo Sasagemasu</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/imouto-paradise/"> Imouto Paradise!</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/inyouchuu-etsu-kairaku-henka-taimaroku/"> In’youchuu Etsu Kairaku Henka Taimaroku</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/inda-no-himekishi-janne/"> Inda no Himekishi Janne</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/inmu-gakuen-dame-konna-ni-nacchau-no-wa-yume-no-naka-dake-nano/"> Inmu Gakuen: “Dame… Konna ni Nacchau no wa Yume no Naka Dake nano…!”</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/innocent-blue-karte/"> Innocent Blue Karte</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/inshitsu-otaku-ni-ikareru-kanojo/"> Inshitsu Otaku ni Ikareru Kanojo</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/issho-ni-ecchi/"> Issho ni Ecchi</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/isshoni-h-shiyo-active-projects/"> Isshoni H Shiyo</a>
<br>
</td>
<td>
<br>
<a href="http://www.subdesu-h.net/category/releases/jk-to-ero-giin-sensei/"> JK to Ero Giin Sensei</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/jk-to-inkou-kyoushi-4/"> JK to Inkou Kyoushi 4</a>
<br>
</td>
<td>
<br>
<a href="http://www.subdesu-h.net/category/releases/kagirohi/"> Kagirohi</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/kakushi-dere/"> Kakushi Dere</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/kanojo-ga-mimai-ni-konai-wake/"> Kanojo ga Mimai ni Konai Wake</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/kansen/"> Kansen</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/kateikyoushi/"> Kateikyoushi</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/kijutsushi-x-majutsushi-osaka-tantei-bu-no-jikenbo/"> Kijutsushi X Majutsushi Osaka Tantei Bu no Jikenbo</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/kindan-no-byoutou/"> Kindan no Byoutou</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/kiriya-hakushakuke-no-roku-shimai-releases/"> Kiriya Hakushakuke no Roku Shimai</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/kodomo-no-jikan/"> Kodomo no Jikan</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/koiito-kinenbi-the-animation/"> Koiito Kinenbi The Animation</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/kotowari-kimi-no-kokoro-no-koboreta-kakera/"> Kotowari Kimi no Kokoro no Koboreta Kakera</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/koukai-benjo-the-animation/"> Koukai Benjo the Animation</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/koutetsu-no-majo-annerose/"> Koutetsu no Majo Annerose</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/kowaku-no-toki/"> Kowaku no Toki</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/kunoichi-sakuya/"> Kunoichi Sakuya</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/kuro-to-kin-no-hirakanai-kagi/"> Kuro to Kin no Hirakanai Kagi</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/kuroinu-kedakaki-seijo-wa-hakudaku-ni-somaru/"> Kuroinu Kedakaki Seijo wa Hakudaku ni Somaru</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/kurutta-kyoutou/"> Kurutta Kyoutou</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/kyonyuu-fantasy/"> Kyonyuu Fantasy</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/kyouiku-shidou/"> Kyouiku Shidou</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/kyuuketsuki/"> Kyuuketsuki</a>
<br>
</td>
<td>
<br>
<a href="http://www.subdesu-h.net/category/releases/last-waltz/"> </a>
<br>
<a href="http://www.subdesu-h.net/category/releases/love-bitch-yasashii-onna/"> Love Bitch: Yasashii Onna</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/love2quad/"> Love2Quad</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/lovely-day/"> Lovely Day</a>
<br>
</td>
</tr>
<tr>
<td>
<div class="h3"> M </div>
</td>
<td>
<div class="h3"> N </div>
</td>
<td>
<div class="h3"> O </div>
</td>
<td>
<div class="h3"> P </div>
</td>
</tr>
<tr>
<td>
<br>
<a href="http://www.subdesu-h.net/category/releases/machi-gurumi-active-projects/"> Machi Gurumi</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/mahou-shoujo-elena/"> Mahou Shoujo Elena</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/mahou-shoujo-sae/"> Mahou Shoujo Sae</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/maid-ane/"> Maid Ane</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/maiden-infringement-play/"> Maiden Infringement Play</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/makai-tenshi-jibril-3/"> Makai Tenshi Jibril 3</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/maki-chan-to-nau/"> Maki-chan to Nau</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/marriage-blue/"> Marriage Blue</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/menkui/"> Menkui!</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/mesu-kyoushi-injoku-no-kyoushitsu/"> Mesu Kyoushi Injoku no Kyoushitsu</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/miboujin-nikki/"> Miboujin Nikki</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/milky-way/"> Milky Way</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/mofuku-tsuma/"> Mofuku Tsuma</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/mouryou-no-nie-bad-end/"> Mouryou no Nie BAD END</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/mune-kyun/"> Mune Kyun!</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/my-imouto-koakuma-na-a-cup/"> My Imouto Koakuma na A Cup</a>
<br>
</td>
<td>
<br>
<a href="http://www.subdesu-h.net/category/releases/namanaka-hyaku-percent/"> Namanaka Hyaku Percent!</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/natsu-yasumi/"> Natsu Yasumi</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/natsumushi/"> Natsumushi</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/nee-summer/"> Nee Summer!</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/netorare-tanabe-yuuka-no-dokuhaku/"> NETORARE – Tanabe Yuuka no Dokuhaku</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/netorare-fighter-yaricchingu/"> Netorare Fighter Yaricchingu!</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/netorare-zuma/"> Netorare Zuma</a>
<br>
</td>
<td>
<br>
<a href="http://www.subdesu-h.net/category/releases/offside-girl/"> Offside Girl</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/ojou-sama-yomeiri-kousou/"> Ojou-sama Yomeiri Kousou!</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/oku-sama-wa-michael/"> Oku-sama wa Michael</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/ona-x2/"> Ona x2</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/oni-chichi/"> Oni Chichi</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/oni-chichi-reborn/"> Oni Chichi Reborn</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/oppai-heart-kanojo-wa-kedamono-hatsujouki/"> Oppai Heart – Kanojo wa Kedamono Hatsujouki</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/ore-wa-kanojo-o-shinjiteru/"> Ore wa Kanojo o Shinjiteru!</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/osana-najimi-to-doukyuusei/"> Osana najimi to Doukyuusei</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/oshioki-gakuen-reijou-kousei-keikaku/"> Oshioki: Gakuen Reijou Kousei Keikaku</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/otokonoko-ojousama/"> Otokonoko Ojousama</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/otome-dori/"> Otome Dori</a>
<br>
</td>
<td>
<br>
<a href="http://www.subdesu-h.net/category/releases/papa-love-kyonyuubi-shiritsu-musume/"> Papa Love Kyonyuubi Shiritsu Musume</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/papa-love-papa-to-icha-ero-shitai-musume-tachi-to-hitotsu-yane-no-shita-de/"> Papa Love Papa to Icha Ero Shitai Musume-tachi to Hitotsu Yane no Shita de</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/pet-life/"> Pet Life</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/pisu-hame/"> Pisu Hame</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/please-rape-me/"> Please Rape Me!</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/princess-holiday/"> Princess Holiday</a>
<br>
</td>
</tr>
<tr>
<td>
<div class="h3"> Q </div>
</td>
<td>
<div class="h3"> R </div>
</td>
<td>
<div class="h3"> S </div>
</td>
<td>
<div class="h3"> T </div>
</td>
</tr>
<tr>
<td>
<br>
<a href=""></a>
<br>
</td>
<td>
<br>
<a href="http://www.subdesu-h.net/category/releases/ran-sem-hakudaku-delmo-tsuma-no-miira-tori/"> Ran->Sem: Hakudaku Delmo Tsuma no Miira Tori</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/rape-rape-rape/"> Rape! Rape! Rape!</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/reijoku-no-yakata/"> Reijoku no Yakata</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/reijou-caster-ingyaku-no-wana/"> Reijou Caster: Ingyaku no Wana</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/reunion/"> Reunion</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/rin-x-sen/"> Rin x Sen</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/rinkan-club/"> Rinkan Club</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/rinkan-gakuen/"> Rinkan Gakuen</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/ryoujoku-famiresu/"> Ryoujoku Famiresu</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/ryoujoku-guerrilla-kari-3/"> Ryoujoku Guerrilla Kari 3</a>
<br>
</td>
<td>
<br>
<a href="http://www.subdesu-h.net/category/releases/sailor-fuku-shinryou-tsumaka/"> Sailor Fuku Shinryou Tsumaka</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/saimin-ryoujoku-gakuen/"> Saimin Ryoujoku Gakuen</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/saishuu-chikan-densha-next-molester/"> Saishuu Chikan Densha NEXT Molester</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/school-i-tsuujouban/"> School I Tsuujouban</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/sei-yariman-gakuen-enkou-nikki/"> Sei Yariman Gakuen Enkou Nikki</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/seito-kaichou-hikaru/"> Seito Kaichou Hikaru</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/seme-chichi/"> Seme Chichi</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/shikatte-ingo-misaki-shunin-no-buka-kyouiku-hen/"> Shikatte Ingo – Misaki Shunin no Buka Kyouiku Hen</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/shiofuki-mermaid/"> Shiofuki Mermaid</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/shitai-wo-arau/"> Shitai wo Arau</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/shocking-pink/"> Shocking Pink!</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/soushisouai-note/"> Soushisouai Note</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/shoujo-senki/"> Shoujo Senki</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/shoujo-x-shoujo-x-shoujo/"> Shoujo x Shoujo x Shoujo</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/shoukoujo-the-animation/"> Shoukoujo The Animation</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/shoyonoido-mako-chan/"> Shoyonoido Mako-Chan</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/shujii-no-inbou/"> Shujii no Inbou</a>
<br>
<a href="http://www.subdesu-h.net/category/eroge/sisters-the-last-day-of-summer/"> SISTERS- The last day of summer</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/sore-demo-tsuma-o-aishiteru/"> Sore Demo Tsuma o Aishiteru</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/soushi-souai-junai-mellow-yori/"> Soushi Souai~ Junai Mellow yori~</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/star-jewel/"> Star Jewel</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/star-jewel-gaiden/"> Star Jewel Gaiden</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/starless/"> Starless</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/stringendo/"> Stringendo</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/suki-de-suki-de-suki-de-the-animation/"> Suki de Suki de Suki de The Animation</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/sweet-home/"> Sweet Home</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/swing-out-sisters/"> Swing Out Sisters</a>
<br>
</td>
<td>
<br>
<a href="http://www.subdesu-h.net/category/releases/tentacle-and-witches/"> Tentacle and Witches</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/the-pollinic-girls-attack-the-animation/"> The Pollinic Girls Attack! The Animation</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/tokubetsu-byoutou/"> Tokubetsu Byoutou</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/toriko-hime/"> Toriko Hime</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/toumei-ningen-return/"> Toumei Ningen Return</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/triangle-heart-sazanami-joshiryou/"> Triangle Heart Sazanami Joshiryou</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/tropical-kiss/"> Tropical Kiss</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/tsf-monogatari/"> TSF Monogatari</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/tsugou-no-yoi-sexfriend/"> Tsugou no Yoi Sexfriend</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/tsuma-no-haha-sayuri/"> Tsuma no Haha Sayuri</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/tsun-tsun-maid-wa-ero-ero-desu/"> Tsun Tsun Maid wa Ero Ero Desu</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/tsundere-inran-shoujo-sukumi/"> Tsundere Inran Shoujo Sukumi</a>
<br>
</td>
</tr>
<tr>
<td>
<div class="h3"> U </div>
</td>
<td>
<div class="h3"> V </div>
</td>
<td>
<div class="h3"> W </div>
</td>
<td>
<div class="h3"> X </div>
</td>
</tr>
<tr>
<td>
<br>
<a href="http://www.subdesu-h.net/category/releases/uhou-renka/"> Uhou Renka</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/unsweet-netorare-ochita-onna-tachi/"> Unsweet Netorare Ochita Onna-tachi</a>
<br>
</td>
<td>
<br>
<a href="http://www.subdesu-h.net/category/releases/valkyrie-choukyou/"> Valkyrie Choukyou</a>
<br>
</td>
<td>
<br>
<a href="http://www.subdesu-h.net/category/releases/wanna-spartansex-spermax/"> Wanna. SpartanSex Spermax!!!</a>
<br>
</td>
<td>
<br>
<a href=""></a>
<br>
</td>
</tr>
<tr>
<td>
<div class="h3"> Y </div>
</td>
<td>
<div class="h3"> Z </div>
</td>
</tr>
<tr>
<td>
<br>
<a href="http://www.subdesu-h.net/category/releases/yama-hime-no-hana/"> Yama Hime no Hana</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/yama-hime-no-mi/"> Yama Hime no Mi</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/yubisaki-annainin-shirudaku-settai-okawari-sanbai-me/"> Yubisaki Annainin Shirudaku Settai Okawari Sanbai-me</a>
<br>
<a href="http://www.subdesu-h.net/category/releases/yume-kui-tsurumiku-shiki-game-seisaku/"> Yume Kui: Tsurumiku Shiki Game Seisaku</a>
<br>
</td>
<td>
<br>
<a href="http://www.subdesu-h.net/category/releases/zettai-junshu-kyousei-kozukuri-kyokashou/"> Zettai Junshu Kyousei Kozukuri Kyokashou!!</a>
<br>
</td>
</tr>
</tbody>
</table>
</div>
</li>
<li class="widedropdown">
<a href="http://www.subdesu-h.net/tags/">tags</a>
<div class="mega-menu-dropdown">
<ul class="nav-tag-list">
<li id="">
<h2>A</h2>
<ul>
<li>
<a href="http://www.subdesu-h.net/tag/ahegao/">Ahegao</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/anal/">Anal</a>
</li>
</ul>
</li>
<li id="">
<h2>B</h2>
<ul>
<li>
<a href="http://www.subdesu-h.net/tag/bdsm/">BDSM</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/big-breast/">Big Breast</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/bishoujo/">Bishoujo</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/blow-job/">Blow Job</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/bluray/">BluRay</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/bondage/">Bondage</a>
</li>
</ul>
</li>
<li id="">
<h2>C</h2>
<ul>
<li>
<a href="http://www.subdesu-h.net/tag/catgirl/">Catgirl</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/censored/">Censored</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/chikan/">Chikan</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/comedy/">Comedy</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/comedy-minor-semi-rape/">Comedy. Minor Semi-Rape</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/cosplay/">Cosplay</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/creampie/">Creampie</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/cross-dressing/">Cross-dressing</a>
</li>
</ul>
</li>
<li id="">
<h2>D</h2>
<ul>
<li>
<a href="http://www.subdesu-h.net/tag/dark-skinned-girl/">Dark-skinned Girl</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/demons/">Demons</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/dfc/">DFC</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/dildos/">Dildos</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/double-penetration/">Double Penetration</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/dvd/">DvD</a>
</li>
</ul>
</li>
<br style="clear: left;">
<li id="">
<h2>E</h2>
<ul>
<li>
<a href="http://www.subdesu-h.net/tag/ecchi/">Ecchi</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/ellatio/">Ellatio</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/elves/">Elves</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/enema/">Enema</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/exhibition/">Exhibition</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/extreme-internal-shots/">Extreme Internal shots</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/extreme-sexual-content/">Extreme Sexual Content</a>
</li>
</ul>
</li>
<li id="">
<h2>F</h2>
<ul>
<li>
<a href="http://www.subdesu-h.net/tag/fantasy/">Fantasy</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/fellatio/">Fellatio</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/female-teachers/">Female teachers</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/femdom/">Femdom</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/fetish/">Fetish</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/fisting/">Fisting</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/footjob/">footjob</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/futa/">Futa</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/futanari/">Futanari</a>
</li>
</ul>
</li>
<li id="">
<h2>G</h2>
<ul>
<li>
<a href="http://www.subdesu-h.net/tag/gangbang/">gangbang</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/gigantic-breasts/">Gigantic Breasts</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/groping/">Groping</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/guro/">Guro</a>
</li>
</ul>
</li>
<li id="">
<h2>H</h2>
<ul>
<li>
<a href="http://www.subdesu-h.net/tag/handjob/">Handjob</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/harem/">Harem</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/high-sexual-content/">High sexual content</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/horror/">Horror</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/hot-springs/">Hot springs</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/housewife/">Housewife</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/huge-breasts/">Huge Breasts</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/hypnosis/">Hypnosis</a>
</li>
</ul>
</li>
<br style="clear: left;">
<li id="">
<h2>I</h2>
<ul>
<li>
<a href="http://www.subdesu-h.net/tag/idol/">Idol</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/impregnation/">impregnation</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/incest/">Incest</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/insertions/">Insertions</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/internal-exhibition/">Internal Exhibition</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/internal-shots/">Internal shots</a>
</li>
</ul>
</li>
<li id="">
<h2>L</h2>
<ul>
<li>
<a href="http://www.subdesu-h.net/tag/lactation/">Lactation</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/lady-boss/">Lady Boss</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/large-insertion/">large insertion</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/lesbian/">Lesbian</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/little-sister/">Little sister</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/loli/">Loli</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/low-sexual-content/">Low sexual content</a>
</li>
</ul>
</li>
<li id="">
<h2>M</h2>
<ul>
<li>
<a href="http://www.subdesu-h.net/tag/maid/">Maid</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/manga/">Manga</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/martial-arts/">Martial Arts</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/massage/">Massage</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/masturbation/">Masturbation</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/meganneko/">Meganneko</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/milf/">Milf</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/milk-inside/">Milk Inside</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/minor-semi-rape/">Minor semi-rape</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/molestation/">Molestation</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/monsters/">monsters</a>
</li>
</ul>
</li>
<li id="">
<h2>N</h2>
<ul>
<li>
<a href="http://www.subdesu-h.net/tag/naked-apron/">Naked Apron</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/necrophillia/">Necrophillia</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/netori/">Netori</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/no-sexual-content/">No Sexual Content</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/non-h/">Non-H</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/ntr/">NTR</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/nuns/">Nuns</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/urses/">Nurses</a>
</li>
</ul>
</li>
<br style="clear: left;">
<li id="">
<h2>O</h2>
<ul>
<li>
<a href="http://www.subdesu-h.net/tag/office-lady/">Office Lady</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/ojou-sama-heroine/">Ojou-sama heroine</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/ol/">OL</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/older-sister/">Older sister</a>
</li>
</ul>
</li>
<li id="">
<h2>P</h2>
<ul>
<li>
<a href="http://www.subdesu-h.net/tag/paizuri/">Paizuri</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/pantsu/">Pantsu</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/pee/">Pee</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/pov/">POV</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/preggo/">Preggo</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/pregnant/">Pregnant</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/public/">Public</a>
</li>
</ul>
</li>
<li id="">
<h2>R</h2>
<ul>
<li>
<a href="http://www.subdesu-h.net/tag/rape/">Rape</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/recruitment/">Recruitment</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/reverse-harem/">Reverse Harem</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/reverse-trap/">Reverse trap</a>
</li>
</ul>
</li>
<li id="">
<h2>S</h2>
<ul>
<li>
<a href="http://www.subdesu-h.net/tag/scat/">Scat</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/school-girl/">School girl</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/school-girls/">School girls</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/school-life/">School Life</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/school-swimsuit/">school swimsuit</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/semi-rape/">Semi-rape</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/shemale/">shemale</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/shota/">Shota</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/shotacon/">Shotacon</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/small-breasts/">Small breasts</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/strapon/">Strapon</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/strong-sexual-contents/">Strong Sexual Contents</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/succubus/">Succubus</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/super-power/">Super power</a>
</li>
</ul>
</li>
<br style="clear: left;">
<li id="">
<h2>T</h2>
<ul>
<li>
<a href="http://www.subdesu-h.net/tag/teacher-heroine/">Teacher heroine</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/teacher-protagonist/">Teacher protagonist</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/tentacles/">tentacles</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/tenticles/">Tenticles</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/threesome/">Threesome</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/torture/">Torture</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/trap/">Trap</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/tsundere/">tsundere</a>
</li>
</ul>
</li>
<li id="">
<h2>U</h2>
<ul>
<li>
<a href="http://www.subdesu-h.net/tag/uncensored/">Uncensored</a>
</li>
</ul>
</li>
<li id="">
<h2>V</h2>
<ul>
<li>
<a href="http://www.subdesu-h.net/tag/vampire/">Vampire</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/vampires/">Vampires</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/vibrators/">Vibrators</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/virgin/">Virgin</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/virgins/">virgins</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/volleyball/">Volleyball</a>
</li>
</ul>
</li>
<li id="">
<h2>W</h2>
<ul>
<li>
<a href="http://www.subdesu-h.net/tag/warriors/">Warriors</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/whip/">Whip</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/wincest/">Wincest</a>
</li>
</ul>
</li>
<br style="clear: left;">
<li id="">
<h2>Y</h2>
<ul>
<li>
<a href="http://www.subdesu-h.net/tag/yaoi/">Yaoi</a>
</li>
<li>
<a href="http://www.subdesu-h.net/tag/yuri/">Yuri</a>
</li>
</ul>
</li>
</ul>
</div>
</li>
<li class="">
<a href="http://www.subdesu-h.net/staff/">staff</a>
<div class="mega-menu-dropdown">
<div class="mega-menu-dropdown-content">
<a href="http://www.subdesu-h.net/enrollment-2/">recruit</a>
</div>
</div>
</li>
<li class="last">
<a href="http://www.subdesu-h.net/suggestions/">h-suggestions</a>
<div class="mega-menu-dropdown">
<div class="mega-menu-dropdown-content">
<a href="http://subdesu-h.net/?page_id=4174">eroge suggestions</a>
</div>
</div>
</li>
</ul>
</div>
<ul id="header-icons">
<li class="icon">

  <%= link_to image_tag("icon-twitter3e30.png", :title=> 'www.subdesu-h.net on Twitter'), :target=>'_blank', :alt=> 'Twitter icon' %>

</li>
<li class="icon">

  <%= link_to image_tag("icon-facebook3e30.png", :title=> 'www.subdesu-h.net on Facebook'), :target=>'_blank', :alt=> 'facebook icon' %>

</li>
<li class="icon">

   <%= link_to image_tag("icon-gplus3e30.png", :title=> 'www.subdesu-h.net on Google+'), :target=>'_blank', :alt=> 'Google icon' %>
</li>
<li class="icon">

   <%= link_to image_tag("icon-instagramdf41.png", :title=> 'www.subdesu-h.net on Instagram'), :target=>'_blank', :alt=> 'Instagram icon' %>

</li>
<li class="icon">

   <%= link_to image_tag("icon-rss3e30.png", :title=> 'www.subdesu-h.net RSS Feed'), :target=>'_blank', :alt=> 'RSS icon' %>

</li>
</ul>


</div>
</div>
</div>